
config INPUT_STMVL53L0_CCI
	tristate "STM VL53L0 Proximity support"
	depends on MSM_CCI
	default n
	help
	  Say Y here if you want to use STMicroelectronics's proximity sensor
	  through I2C interface.

	  To compile this driver as a module, choose M here: the
	  module will be called stmvl53L0.

